@font-face {
  font-family: fauc;
  src: url('https://assets.website-files.com/5b60dd35a56ec7bab0703d2d/604faa3e67408a53de7b6670_Fraunces72ptSuperSoft-Regular.otf');
}
@font-face {
  font-family: fauc;
  src: url('https://assets.website-files.com/5b60dd35a56ec7bab0703d2d/604faa3fe92de96eebc79511_Fraunces144ptSuperSoft-Black.otf');
  font-weight: 900;
}
@font-face {
  font-family: fauc;
  src: url('https://assets.website-files.com/5b60dd35a56ec7bab0703d2d/604faa3e1a73962ed32341b8_Fraunces72ptSuperSoft-Bold.otf');
  font-weight: 700;
}
@font-face {
  font-family: fauc;
  src: url('https://assets.website-files.com/5b60dd35a56ec7bab0703d2d/604faa3ee6bcfd51ec14bc52_Fraunces72ptSuperSoft-SemiBold.otf');
  font-weight: 600;
}
@font-face {
  font-family: fauc;
  src: url('https://assets.website-files.com/5b60dd35a56ec7bab0703d2d/604faa3e240cf712017a74b1_Fraunces72ptSuperSoft-Italic.otf');
  font-style: italic;
}
@font-face {
  font-family: fauc;
  src: url('https://assets.website-files.com/5b60dd35a56ec7bab0703d2d/604faa3e2ef6200b430e6c78_Fraunces72ptSuperSoft-BoldItalic.otf');
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: geoma;
  src: url('https://assets.website-files.com/5b60dd35a56ec7bab0703d2d/5f8764ef5e2158274613afb4_Geomanist-Regular.otf');
}
@font-face {
  font-family: geoma;
  src: url('https://assets.website-files.com/5b60dd35a56ec7bab0703d2d/5f8764efb1c5850618211b4d_Geomanist-Bold.otf');
  font-weight: 700;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  overflow-x: hidden;
}

@layer components {
  .content-wrapper{
    @apply xl:max-w-8xl lg:max-w-300 m-auto overflow-hidden
  }
  .socials__container{
    @apply w-6 h-6 flex items-center justify-center rounded-[3px] border-b border-gray-300
  }
}